<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil məlumatları və statistikalar</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Traversal Rezervasiya</p>
                <h4 class="card-title">..... </h4>
                <h4>Aktiv Rezervasiya sayı:4</h4>
                <h4>Keçmiş Rezervasiya sayı:5</h4>
                <h4>Təsdiq Gözkəyən Rezervasiya Sayı:5</h4>
                <h4>Toplam Rota Sayı:5</h4>
                <h4>Rəhbər Sayı:5</h4>
                <h4>Toplam Qonaq Sayı:1256</h4>
                <h4>Ortalama Xal Sayı:1256</h4>
            </div>
        </div>
    </div>
</div>