@model VisitorViewModel
@{
    ViewData["Title"] = "AddVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api ilə Visitor Əlavə</h1>
<br />
<form method="post">
    <label>Ad</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Soyad</label>
    <input type="text" asp-for="SurName" class="form-control" />
    <br />
    <label>Şəhər</label>
    <input type="text" asp-for="City" class="form-control" />
    <br />
    <label>Ölkə</label>
    <input type="text" asp-for="Country" class="form-control" />
    <br />
    <label>Mail</label>
    <input type="text" asp-for="Mail" class="form-control" />
    <br />

    <button class="btn btn-outline-success">Əlavə Et</button>
</form>
