@model AccountViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Unit Of Work Personel Transfer</h3>

<form method="post">
    <label>Gonderen</label>
    <input type="text" asp-for="SenderID" class="form-control" />
    <br />
    <label>Alan</label>
    <input type="text" asp-for="ReceiverID" class="form-control" />
    <br />
    <label>Miqdar</label>
    <input type="text" asp-for="Amount" class="form-control" />
    <br />
    <button class="btn btn-outline-warning">Hesaba Gonder</button>
</form>