@model List<ContactUs>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Bizimlə Əlaqə</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gonderen</th>
        <th>Movzu</th>
        <th>Tarix</th>
        <th>Sil</th>
        <th>Mesaji oxu</th>
    </tr>
    @foreach (var item in Model)
    {
        count += 1;
<tr>
    <th>@count</th>
    <td>@item.Name</td>
    <td>@item.Subject</td>
    <td>@item.MessageDate.ToString("dd.MMMM.yyyy")</td>
    <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
    @if (item.MessageReadStatus == true)
    {
        <td><a href="#" class="btn btn-dark">Mesaji oxu</a></td>
    }
    else
    {
        <td><a href="#" class="btn btn-outline-dark">Mesaji oxu</a></td>
    }


</tr>
    }
</table>
